<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Taichi_OS_Software_Source_Private</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ace_editor.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ace.js') }}"></script>
    <script src="{{ url_for('static', filename='mode-json.js') }}"></script>
    <script src="{{ url_for('static', filename='theme-monokai.js') }}"></script>
    <script src="{{ url_for('static', filename='worker-json.js') }}"></script>
</head>
<body>
<div class="container">
    <img src="{{ url_for('static', filename='favicon.png') }}" alt="Logo"
         style="display: block; margin-left: auto; margin-right: auto; width: 250px; height: auto;">
    <h1 class="mt-4">Taichi_OS软件源JSON生成工具-私有版本</h1>
    <div id="software-table" class="mt-4"></div>
    <div class="alert alert-info mt-4">
        <h5>示例命令</h5>
        <pre>
            docker run -itd \
            --name software_source \
            -p 10010:10010 \
            -v /root/taichisource/app:/app/app \
            -v /root/taichisource/app.json:/app/app.json \
            --restart=always \
            fushin/taichi_os_software_source
        </pre>
        <h5>高级配置</h5>
        <pre>
            1. [实验性功能]新增参数特性-run_cmd "{shell}" 用于初始化存储卷之后
            可以使用对应的命令下载或者配置容器的命令结构,默认绑定最初的存储卷，需要手动指定位置
            对于依赖某些网络配置的容器会很好用, 可以使用各种shell命令来获取配置
            前提是Taichi OS宿主机内安装了这些shell工具，否则会报错
            示例:
            docker run -itd \
            --name software_source \
            -p 10010:10010 \
            -v /root/taichisource/app:/app/app \
            -v /root/taichisource/app.json:/app/app.json \
            -run_cmd "{shell}" \
            --restart=always \
            fushin/taichi_os_software_source
            输出:
            {
                "image": "fushin/taichi_os_software_source",
                "name": "software_source",
                "ports": {
                    "10010": 10010
                },
                "restart_policy": {
                    "Name": "always"
                },
                "run_cmd": {
                    "software_source_app_volume": [
                        "{shell}"
                    ]
                },
                "volumes": {
                    "software_source_app.json_volume": {
                        "bind": "/app/app.json",
                        "mode": "rw"
                    },
                    "software_source_app_volume": {
                        "bind": "/app/app",
                        "mode": "rw"
                    }
                }
            }
        </pre>
        <hr>
        <h5>注意事项</h5>
        <ol>
            <li>请使用类似如上的docker run命令来生成json, 镜像后面不要带脚本</li>
            <li>生成完毕检查生成的json是否与你的命令是否对应,如果不对应可以修改</li>
            <li>确认无误后, 点击确认, 自动写入相对于的app.json和run.json</li>
            <li>注意不要使用过长的名称, 不要使用中文名称</li>
        </ol>
        <hr>
        <h5>软件源目录结构</h5>
        <ul>
            <li>app.json # 软件源目录MAP<br>
                路径: /app.json</li>
            <li>run.json # 软件运行需要的配置文件<br>
                路径: /app/{name}/run.json</li>
        </ul>
        <h5>联系方式</h5>
        <ul>
            <li>Github: https://github.com/Xingsandesu/Taichi_OS_Software_Source</li>
            <li>QQ群: 909881726</li>
        </ul>
    </div>
    <input type="text" id="command" class="form-control mt-4" placeholder="输入docker run命令">
    <button id="run" class="btn btn-primary mt-2">生成</button>
    <div id="editor" class="mt-4" style="height: 300px;"></div>
    <div id="description-editor" class="mt-4" style="height: 100px;"></div>
    <button id="confirm" class="btn btn-success mt-2" disabled>确认</button>
</div>

<script>
    function refreshSoftwareList() {
        $('#software-table').empty();
        $.getJSON('app.json', function(data) {
            var table = $('<table>').addClass('table');
            var thead = $('<thead>');
            var tbody = $('<tbody>');
            thead.append('<tr><th>已有软件</th><th>链接</th><th>描述</th><th>操作</th></tr>');  // 添加新的表头
            table.append(thead);

            $.each(data, function(key, value) {
                var row = $('<tr>');
                row.append($('<td>').text(key));
                row.append($('<td>').html('<a href="' + value.url + '">' + value.url + '</a>'));  // 修改链接的获取方式
                row.append($('<td>').text(value.description || ''));  // 添加新的描述列
                var deleteButton = $('<button>').text('删除').addClass('btn btn-danger btn-sm');  // 创建删除按钮
                row.append($('<td>').append(deleteButton));  // 将删除按钮添加到行中
                tbody.append(row);

                // 为删除按钮添加点击事件处理器
                deleteButton.click(function () {
                    $.ajax({
                        url: '/delete/' + key,
                        type: 'DELETE',
                        success: function (data) {
                            alert(data.message);
                            refreshSoftwareList();  // 刷新软件源列表
                        },
                        error: function (jqXHR) {
                            alert('删除失败: ' + jqXHR.responseJSON.message);
                        }
                    });
                });
            });

            table.append(tbody);
            $('#software-table').append(table);
        });
    }
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/json");

    var descriptionEditor = ace.edit("description-editor");
    descriptionEditor.setTheme("ace/theme/monokai");
    descriptionEditor.session.setMode("ace/mode/text");
    descriptionEditor.setValue("作者没有添加描述...");

    $('#run').click(function() {
        var command = $('#command').val();
        $.ajax({
            url: '/source',
            type: 'POST',
            data: JSON.stringify({command: command}),
            contentType: 'application/json',
            success: function(data) {
                editor.setValue(JSON.stringify(data, null, 4));
                $('#confirm').prop('disabled', false);
            }
        });
        $('#command').val('');
    });

    $('#confirm').click(function() {
        try {
            var container_config = JSON.parse(editor.getValue());
            var description = descriptionEditor.getValue();  // 获取软件简介
            if (!container_config.hasOwnProperty('name')) {
                throw new Error('缺少必需的属性: name');
            }
            $.ajax({
                url: '/confirm',
                type: 'POST',
                data: JSON.stringify({container_config: container_config, description: description}),  // 将软件简介一起发送
                contentType: 'application/json',
                success: function(data) {
                    alert(data.message);
                    $('#confirm').prop('disabled', true);
                    editor.setValue('');  // 清空编辑器内容
                    descriptionEditor.setValue('');  // 清空软件简介编辑器内容
                    refreshSoftwareList();  // 刷新软件源列表
                }
            });
        } catch (e) {
            alert('JSON 格式错误: ' + e.message);
        }
    });

    refreshSoftwareList();  // 页面加载时刷新软件源列表
</script>
</body>
</html>